.lds-ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: inline-block;

  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;

  opacity: 1;
  border: 4px solid var(--color-brand);
  border-radius: 50%;

  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;

    width: 0;
    height: 0;

    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;

    width: 0;
    height: 0;

    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;

    width: 0;
    height: 0;

    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;

    width: 72px;
    height: 72px;

    opacity: 0;
  }
}
