.chat {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  width: 100%;
  max-height: calc(100vh - var(--navbar-height) - 16px);
  height: 100%;
}

.msg-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.chat-input {
  flex: 0 1 auto;
  flex-shrink: 0;
}