.chat {
  width: 100%;
  max-height: calc(100vh - 68px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.chat-input {
  flex: 0 1 auto;
  flex-shrink: 0;
}

.msg-list {
  flex: 1 1 auto;
  overflow-y: auto;
}
