.toolbar {
  width: var(--sidebar-width);
  height: 100%;
  //padding-left: 62px;
  justify-content: flex-end;
  padding-right: 12px;
  display: flex;
  align-items: center;
}

.fullscreen {
  padding-left: 0;
}