.initial-model-download {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.model-card {
  margin-top: 16px;
}

.action {
  margin-top: 104px;
  width: 100%;
}


