.text {
  line-height: 150%;
  display: block;
}

.primary {
  color: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
}

.tertiary {
  color: var(--text-tertiary);
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}


