.general-settings {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.theme-option {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 141px;
}

.theme {
  width: 110px;
  justify-content: flex-end;
}