.models-list {
  width: 100%;
}

.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row !important;
}

.list {
  height: 100%;
  width: 100%;

  & > div:first-child {
    padding-right: 12px;
    transform: translateY(1px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 1px;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list-wrapper {
  width: 100%;
  height: calc(100% - 24px);
}

