.models-list {
  width: 100%;
}

.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row !important
}

.searching {
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}


