.chat-form {
  width: var(--chat-container-width);
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--border-light);
  position: relative;
  padding: 4px 16px 12px;

  &:focus-within {
    border-color: var(--border-heavy);
  }
}

.input-row {
  position: relative;
  margin-bottom: 4px;
}

.actions-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  & > div:last-child {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.chat-input {
  display: block;
  width: 100%;
  resize: none;
  outline: transparent;
  background: none;
  border: none;
  color: #fff;
  padding: 8px 0;
  line-height: 24px;
}

.submit-btn {
  svg {
    transform: translateX(1px);
  }
}

