.button {
  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;

  background: none;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;

  font-size: 14px;

  position: relative;
  line-height: 1.4;
  overflow: hidden;
  transition: background-color 0.2s;

  &:disabled {
    cursor: unset;
  }
}

.full {
  width: 100%;
  justify-content: center;
}

.primary {
  color: var(--button-text-primary);
  background: var(--button-primary-default);
  font-weight: 500;

  &.active,
  &:hover {
    background: var(--button-primary-hover);
  }

  :disabled {
    background: var(--button-primary-disabled);
  }
}

.secondary {
  border: 1px solid var(--border-light);
  color: var(--button-text-secondary);

  &:hover {
    background: var(--button-secondary-hover);
  }
}

.link {
  color: var(--text-primary);
  text-align: left;

    &:hover {
      color: var(--link-default);
    }
}

.danger {
  background: var(--error);
  color: var(--white);

  &:hover {
    background: var(--error-hover);
  }
}

.clear {
  background: transparent;
  color: var(--text-primary);

  .end-fade {
    transition: background 0.2s;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, var(--sidebar-background-primary) 50%, var(--sidebar-background-primary) 100%);

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(90deg, #17171700, var(--sidebar-background-primary) 50%, var(--sidebar-background-primary) 100%);
    }
  }

  &:hover,
  &.active {
    background: var(--chat-history-btn);

    .end-fade {
      background: linear-gradient(90deg, var(--chat-history-btn-0) 0%, var(--chat-history-btn) 50%, var(--chat-history-btn) 100%);
    }

    .icon {
      background: none;
      transition: color 0.2s;

      &:hover {
        color: var(--gray-400);
      }
    }
  }

  &.active,
  &:hover {
    &:not(&.not-active) {
      .end-fade {
        width: 60px;
      }
    }
  }
}

.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--button-primary-default);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
  width: max-content;

  &.primary {
    color: var(--text-primary);
    background: transparent;

    &.active,
    &:hover {
      color: var(--gray-800);
      background: var(--button-primary-hover);
    }
  }

  &.secondary {
    border: 0;
    color: var(--icon-default);
    background: var(--main-background-secondary);

    &.active,
    &:hover {
      color: var(--brand);
      background: var(--gray-600);
    }
  }

  &.clear {
    color: var(--gray-300);

    &.active,
    &:hover {
      background: transparent;
      color: var(--gray-100);
    }
  }
}


.end-fade {
  position: absolute;
  right: 0;
  height: 100%;
  background: transparent;
  width: 32px;
}

.not-active {
  .end-fade {
    width: 0;
  }
}


.suffix {
  display: none;
  position: absolute;
  right: 0;
  padding-left: 20px;
  height: 100%;
  align-items: center;
  background: transparent;

  z-index: 10;

  .button.clear {
    color: var(--brand);
    opacity: 0.6;

    &:hover {
      color: var(--brand);
      opacity: 1;
    }
  }
}

.active,
button:hover {
  &:not(&.not-active) {
    .suffix {
      display: flex;
    }
  }
}
