.button {
  cursor: pointer;

  display: flex;

  align-items: center;
  background: none;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: var(--color-text);
  font-size: 14px;
  line-height: 20px;

  position: relative;
}

.full {
  width: 100%;
  justify-content: center;
}

.clear {
  &:hover {
    background: var(--gray-800);
  }

  &.active {
    background: var(--gray-700);
  }

  &.icon {
    padding: 0;

    &:hover {
      color: var(--gray-300);
    }
  }
}

.primary {

}

.secondary {
  // styles
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  //color: var(--color-gray-600);

  border: 0;
  border-radius: 50%;

  //transition: background-color var(--transition-base);
  //
  //&:hover {
  //  background: var(--color-el-400);
  //}
  //
  //&:active {
  //  background: rgb(28 30 41 / 20%);
  //}
}

.suffix {
  display: none;
  position: absolute;
  right: 8px;
  height: 20px;
}

button:hover,
.active {
  .suffix {
    display: block;
  }
}
