.model-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.right-side {
  display: flex;
  gap: 24px;
  align-items: center;
}

.file-name {
  margin-bottom: 12px;
}

.tags {
  display: flex;
  gap: 8px;
  align-items: center;
}

.memory-fit {
  padding: 4px 12px;
  border-radius: 100px;
  width: max-content;
}

.recommended {
  background: rgba(18, 183, 106, 0.12);

  & span {
    color: var(--success);
  }
}

.too-large {
  background: rgba(240, 68, 56, 0.12);

  & span {
    color: var(--error);
  }
}