.model-store-file {
  border-radius: 8px;
  transition: background-color 0.2s;

  &:hover {
    background: var(--main-background-secondary);

    .downloadBtn {
      color: var(--button-text-primary);
      background: var(--button-primary-default);

      &.active,
      &:hover {
        background: var(--button-primary-hover);
      }
    }
  }
}

.memory-fit {
  padding: 4px 12px;
  border-radius: 100px;
  width: max-content;
}

.recommended {
  background: rgba(18, 183, 106, 0.12);

  & span {
    color: var(--success);
  }
}

.downloaded {
  display: flex;
  gap: 8px;
  align-items: center;


  &, & span {
    color: var(--success);
  }
}

.too-large {
  background: rgba(240, 68, 56, 0.12);

  & span {
    color: var(--error);
  }
}

.queued {
  display: flex;
  gap: 12px;
  align-items: center;
}

.delete-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
}

.start-chat {
  width: 118px;
  justify-content: center;
}