.toolbar-windows {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  position: relative;
  align-items: flex-start;
}

.controls {
  padding: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
}

.title {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}