.model-tag {
  padding: 2px 6px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: max-content;
}

.params {
  background: #412E6C;
}

.type {
  background: purple;
}

.arch {
  background: #184456;
}