.code {
  border-radius: 6px;
  overflow: hidden;
}

.header {
  background: var(--main-background-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  font-family: var(--font-main);
}

.copy-btn {
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-secondary);

  &:hover {
    background: transparent;
  }
}

.cursor {
  display: inline-block !important;
  width: 3px;
  height: 10px;
  background-color: red;
}
