@import './src/shared/styles/mixins';

:root {
  // Spacing
  --base-unit: 12px;
  --spacing-xs: calc(var(--base-unit) * 0.25); /* 3px */
  --spacing-sm: calc(var(--base-unit) * 0.5); /* 6px */
  --spacing-smd: calc(var(--base-unit) * 3 / 4); /* 8px */
  --spacing-md: calc(var(--base-unit) * 1); /* 12px */
  --spacing-lg: calc(var(--base-unit) * 1.5); /* 18px */
  --spacing-xl: calc(var(--base-unit) * 2); /* 24px */
  --spacing-2xl: calc(var(--base-unit) * 2.5); /* 30px */
  --spacing-3xl: calc(var(--base-unit) * 3); /* 36px */
  --spacing-4xl: calc(var(--base-unit) * 3.5); /* 42px */
  --spacing-5xl: calc(var(--base-unit) * 4); /* 48px */
  --spacing-6xl: calc(var(--base-unit) * 5); /* 60px */
  --spacing-7xl: calc(var(--base-unit) * 6); /* 72px */

  // Layout Helpers
  --layout-xs: calc(var(--base-unit) * 4); /* 48px */
  --layout-sm: calc(var(--base-unit) * 8); /* 96px */
  --layout-md: calc(var(--base-unit) * 12); /* 144px */
  --layout-lg: calc(var(--base-unit) * 16); /* 192px */
  --layout-xl: calc(var(--base-unit) * 20); /* 240px */
  --layout-2xl: calc(var(--base-unit) * 24); /* 288px */
  --layout-3xl: calc(var(--base-unit) * 28); /* 336px */
  --layout-4xl: calc(var(--base-unit) * 32); /* 384px */

  // Border Radius
  --border-radius-xs: calc(var(--base-unit) * 0.25); /* 3px */
  --border-radius-sm: calc(var(--base-unit) * 0.5); /* 6px */
  --border-radius-md: calc(var(--base-unit) * 0.75); /* 9px */
  --border-radius-lg: calc(var(--base-unit) * 1); /* 12px */
  --border-radius-xl: calc(var(--base-unit) * 1.5); /* 18px */

  // Border Width
  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --border-width-md: 4px;

  // Border
  --border-stroke: var(--border-width-xs) solid var(--color-other-stroke);

  // Font Family
  --font-family-ambit: 'AmbitWeb', ui-sans-serif, system-ui, -apple-system;
  --font-family-inter: 'Inter', sans-serif;

  // Transitions
  --transition-duration-ai: 0.5s;
  --transition-duration-ai-full: 2s;
  --transition-base: 200ms ease;
  --transition-bezier: cubic-bezier(0.92, 0, 0.14, 1);
  --sidebar-opening-transition: transform var(--transition-duration-ai) var(--transition-bezier);
  --panel-opening-transition: transform var(--transition-duration-ai) var(--transition-bezier);
  --delay-panel-open: 0.5s;

  // Sizes
  --chat-container-width: 768px;

  // z-indexes
  --z-index-overlay-sidebar: 100000;
  --z-index-overlay-modal: 100000;
  --z-index-sidebar: 1000000;
  --z-index-modal: 100000;
  --z-index-tooltip: 1000000;
  --z-index-panel: 100;
  --z-index-navbar: 100000;
  --z-index-title-bar: 100;

  // Colors common
  --color-overlay: rgb(34 35 38 / 50%);
  --color-brand: #c8eb46;

  @include mobile-only {
    --container-main-width: 100vw;
    --sidebar-width: 100vw;
    --panel-width: 100vw;
  }

  // Main content shift
  @media screen and (width >= 2200px) {
    --main-content-shift: 0;
  }

  @media screen and (width < 1366px) {
    --main-content-shift: 0;
  }

  // LeftPanel sizes
  @media screen and (width >= 1366px) {
    --container-main-width: 750px;
    --sidebar-width: 544px;
  }

  @media screen and (width > 1440px) {
    --container-main-width: 750px;
    --sidebar-width: 580px;
  }

  @media screen and (width > 1728px) {
    --container-main-width: 868px;
    --sidebar-width: 700px;
  }
}
