.app-light-theme {
  // Redesign
  // Primary
  --color-primary-400: #daf373;
  --color-primary-500: #c8eb46;
  --color-primary-600: #a6ca33;

  // Elevation
  --color-el-0: #fff;
  --color-el-100: #f8f9fb;
  --color-el-300: #f1f3f7;
  --color-el-400: #edeff5;
  --color-el-500: #e3e6ee;
  --color-el-600: #dce0ea;
  --color-el-700: #c4cbdc;
  --color-el-900: #95a1bf;

  // Gray
  --color-gray-50: #e8ebec;
  --color-gray-500: #73858e;
  --color-gray-600: #5c707b;
  --color-gray-700: #455c68;
  --color-gray-800: #163342;
  --color-gray-900: #0e1c24;

  // Secondary
  --color-secondary-50: #ebf2ff;
  --color-secondary-200: #adc8ff;
  --color-secondary-500: #5076ff;
  --color-secondary-600: #254edb;
  --color-secondary-700: #1939b7;

  // Semantic
  --color-semantic-success: #12b76a;
  --color-semantic-warning: #f79009;
  --color-semantic-error: #f04438;
  --color-pink-500: #ef6bcd;
  --color-orange-500: #ffb38d;
  --color-orange-600: #db8667;

  // Button Colors
  --color-button-active: #5076ff;
  --color-button-hover: #003ea933;
  --color-button-default: #003ea914;
  --color-button-inactive: #f2f4f5;
  --color-button-inactive-selected: #b8b9bb80;

  // additional
  --color-button-active-state: #004fc5;
  --color-button-bg-hover: rgb(28 30 41 / 8%);
  --color-button-bg-active: rgb(28 30 41 / 20%);

  // Text Colors
  --color-text-link: #3f65f0;
  --color-text-title: #1c1e29;
  --color-text-content: #4d5156;
  --color-button-inactive-shades: #1c1e2959;
  --color-button-inactive-selected-shades: #1c1e2940;
  --color-text-white: #fff;
  --color-text-brand: #163342;
  --color-text-brand-80: rgb(22 51 66 / 80%);
  --color-text-brand-60: rgb(22 51 66 / 60%);

  // Other Colors
  --color-other-stroke-btn: #5076ffb2;
  --color-other-stroke: #e5e8eb;
  --color-other-stroke-dark: #bfc8d0;
  --color-other-icon: #6f7a86;
  --color-other-background-el1: #fff;
  --color-other-background-el2: #f8f9fc;
  --color-other-background-el3: #f2f4f9;
  --color-other-background-el4: #ebeef4;
  --color-other-background-el5: #dce0ea;

  color: var(--color-text-content);
  background: var(--color-other-background-el1);
}
