.chat-message {
  width: var(--chat-container-width);
  display: flex;
  gap: 12px;
  padding: 8px 20px;
  line-height: 24px;
  color: var(--gray-100);
}

.chat-message-wrapper {
  display: flex;
  justify-content: center;
}

.author-name {
  font-weight: 600;
  color: var(--text-primary);
}

.body {
  width: 100%;
}

.author-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.text {
  margin-top: 8px;
  color: var(--text-primary);
  width: 100%;
}

.actions {
  margin-top: 4px;
  height: 26px;
  opacity: 0;
  width: max-content;
}

.chat-message:hover .actions {
  opacity: 1;
}

.img {
  border-radius: 6px;
  max-height: 360px;
}

.actions {
  display: flex;
  gap: 2px;
}

