.chat-message {
  width: var(--chat-container-width);
  display: flex;
  gap: 12px;
  padding: 8px 20px;
  line-height: 24px;
  color: var(--gray-100);
}

.logo {
  width: 24px;
  height: 24px;
}

.chat-message-wrapper {
  display: flex;
  justify-content: center;
}

.author-name {
  font-weight: 600;
  color: var(--text-primary);
}

.author-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.text {
  margin-top: 8px;
  color: var(--text-primary);
}

.actions {
  margin-top: 4px;
  height: 26px;
}

.markdown {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 8px;
  }
}

