.chat-first-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  justify-self: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.example-prompts {
  position: absolute;
  bottom: 16px;
}
