.welcome-screen {
  width: 612px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 48px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}