.skeleton {
  cursor: progress;

  background: linear-gradient(90deg, #ececec 8%, #f4f5f6 18%, #ececec 33%);
  background-size: 200% 100%;
  border-radius: var(--border-radius-sm);

  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
