.curated-model-card {
  padding: 24px;
  background: var(--main-background-secondary);
  border-radius: 16px;
  border: 1px solid transparent;

  &:hover:not(.info) {
    border-color: var(--link-hover);
    cursor: pointer;
  }
}

.tags {
  display: flex;
  gap: 8px;
}

.header {
  margin: 12px 0 8px;
}

.author {
  margin-top: 8px;
  padding-top: 12px;
  border-top: 1px solid var(--border-disabled);
}