.scroll-wrapper {
  width: 100%;
  overflow: hidden;
}

.scroll-area {
  height: 100%;
  width: 100%;

  & > div:first-child {
    transform: translateY(1px);
    padding-bottom: 1px;
  }
}

.scroll-thumb {
  border-radius: 2px;
  background: var(--main-background-secondary);
}