.wrapper {


}

.select {
  color: var(--text-primary);
  gap: 8px;
}

.popover {
  padding: 8px;
  background: var(--main-background-secondary);
  border: 1px solid var(--border-light);
  border-radius: 8px;
  outline: none;
  width: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.option {
  display: flex;
  gap: 8px;
  align-items: center;
}