@import 'reset';
@import 'themes';
@import 'mixins';
@import 'vars';

body {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--text-primary);
  background: var(--main-background-primary);
  max-height: 100vh;
  overflow: hidden;
}

#toolbar {
  position: absolute;
  height: 28px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.app {
  position: relative;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#react-tiny-popover-container{
  z-index: 10000;
}



