// Typography Mixins

@mixin font-heading-1 {
  font-family: var(--font-family-ambit);
  font-size: 42px;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.03em;
}

@mixin font-heading-2 {
  font-size: 23px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.02em;
}

@mixin font-heading-3 {
  font-family: var(--font-family-ambit);
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01em;
}

@mixin font-heading-4 {
  font-size: 19px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.02em;
}

@mixin font-heading-5 {
  font-family: var(--font-family-ambit);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01em;
}

@mixin font-heading-6 {
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.01em;
}

@mixin font-subtitle-1 {
  font-size: 15px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: -0.01em;
}

@mixin font-subtitle-2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 0.02em;
}

@mixin font-subtitle-3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.01em;
}

@mixin font-subtitle-4 {
  font-size: 13px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.02em;
}

@mixin font-subtitle-5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.02em;
}

@mixin font-body-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.01em;
}

@mixin font-body-2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.01em;
}

@mixin font-body-3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.01em;
}

@mixin font-body-4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
}

@mixin font-link-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.01em;
}

@mixin font-link-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.01em;
}

@mixin font-link-3 {
  font-size: 11px;
  font-weight: 400;
  line-height: 135%;
}

@mixin card {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
