@import './src/shared/styles/mixins';

.toast {
  display: flex;
  padding: 6px 10px 6px 8px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-light);
  background-color: var(--main-background-secondary);
  margin-top: 20px;
}

.icon {
  margin-top: 2px;
}

.content {
  width: 190px;
}

.description {
  @include line-clamp(3);

  span {
    display: inline;
  };
}

.toast-body {
  margin: 0;
  padding: 0;
  display: block;
}

.toast-container {
  padding: 0;
  margin: 0;
  margin-left: auto;
  background: none;
  width: max-content;
}
