@import './src/shared/styles/mixins';

.example-prompts {
  width: var(--chat-container-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background: var(--main-background-primary);
}

.prompt {
  border-radius: 12px;
  border: 1px solid var(--border-medium);
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--main-background-secondary);
  }
}

.desc {
  @include line-clamp(1)
}

.demo {
  background: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;

  .prompt {
    padding: 12px;

    &:not(:hover) {
      background: var(--main-background-quaternary);
    }
  }
}