.example-prompts {
  width: var(--chat-container-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.prompt {
  border-radius: 12px;
  border: 1px solid var(--border-medium);
  padding: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--main-background-secondary);
  }
}