.layout {
  display: flex;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar {
  height: var(--navbar-height);
  flex-shrink: 0;
}

.sidebar {
  flex-shrink: 0;
}