.toolbar-mac-os {
  width: var(--sidebar-width);
  height: 100%;
  justify-content: flex-start;
  padding-left: 62px;
  display: flex;
  align-items: center;
}

.fullscreen {
  padding-left: 10px;
}