.tooltip {
  position: absolute;
  z-index: var(--z-index-tooltip);
  transform: translateX(-50%);
}

.tooltip-text {
  padding: 8px;
  color: var(--white);
  background: var(--black);
  border-radius: 8px;
}

.success {
  background: var(--color-semantic-success);
}
