.model-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.right-side {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tags {
  display: flex;
  gap: 4px;
  align-items: center;
}

.mmp-info {
  display: flex;
  color: var(--info);
  cursor: pointer;

  &:hover {
    color: var(--white);
  }
}

.tag {
  display: inline-flex !important;
}

.mmp-info-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--sidebar-background-primary);
  border-radius: 8px;
  border: 1px solid var(--border-light);
  width: 600px;
}

.downloads {
  transition: background-color 0.2s;

  &:hover {
    background: var(--main-background-tertiary);
    border-radius: 8px;
  }
}