.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
}

.history {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 16px;
}