.badge {
  display: flex;
  align-items: center;

  height: 18px;
  padding: 0 var(--spacing-sm);

  border-radius: 100px;
}

.content {
  line-height: 1;
  color: var(--color-text-title);
}

.dark {
  .content {
    color: var(--color-text-white);
  }
}
