.collapsible {
  width: 100%;
}

.whole-clickable {
  cursor: pointer;
}

.head {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 22px;
}

.content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.icon {
  transition: transform 0.3s ease-in-out;
  color: var(--text-secondary);
}

.expanded {
  .icon {
    transform: rotateZ(-180deg);
  }
}
