.agents-search-input {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-disabled);
  background: var(--main-background-secondary);
  gap: 8px;
  width: 480px;
  padding: 12px;

  &:focus-within {
    border-color: var(--border-x-heavy);
  }
}

.go {
  position: relative;
  z-index: 100;
}

.input {
  color: var(--text-primary);
  font-size: 14px;
  padding: 0;
  font-weight: 400;
  line-height: 24px;

  &::placeholder {
    color: var(--text-secondary);
  }
}