.model-tag {
  padding: 2px 6px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
}

.params {
  background: #412E6C;
}

.type {
  background: purple;
}

.arch {
  background: #184456;
}

.size {
  background: var(--main-background-quaternary);
}

.quantization {
  background: #412E6C;

  &.q2 {
    background: #412E6C;
  }
  &.q4 {
    background: #2B365C;
  }
  &.q6 {
    background: #184456;
  }
  &.q8 {
    background: #234540;
  }
}

.info-icon {
  display: flex;
  width: 16px;
  height: 16px;
}