name: 'publish'

# This will trigger the action on each push to the `release` branch.
on:
  push:
    tags:
      - '*'

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-20.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: enable corepack
        run: corepack enable

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install macos universal arch
        if: matrix.platform == 'macos-latest'
        run: rustup target add aarch64-apple-darwin

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: yarn install # change this to npm or pnpm depending on which one you use

      - name: Build app for non macos
        id: restbuild
        if: matrix.platform != 'macos-latest'
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          releaseName: 'App v__VERSION__'
          tauriScript: yarn tauri

      - name: Build for macos
        id: macosbuild
        if: matrix.platform == 'macos-latest'
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          args: --target universal-apple-darwin
          releaseName: 'App v__VERSION__'
          tauriScript: yarn tauri

      - name: Update Manifest
        run: node scripts/updateManifest.cjs
        env:
          OS: ${{ matrix.platform }}
          MACOS_APP_VERSION: ${{ steps.macosbuild.outputs.appVersion }}
          MACOS_ARTIFACT_PATHS: ${{ steps.macosbuild.outputs.artifactPaths }}
          NON_MACOS_APP_VERSION: ${{ steps.restbuild.outputs.appVersion }}
          NON_MACOS_ARTIFACT_PATHS: ${{ steps.restbuild.outputs.artifactPaths }}
          S3_ENDPOINT_URL: ${{ secrets.S3_ENDPOINT_URL }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}

