.container {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: block;
}

.checkmark {
  width: 16px;
  height: 16px;

  border: 1px solid var(--border-medium);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//  background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  color: var(--sidebar-background-primary);
  background-color: var(--white);
}

/* Create the checkmark/indicator (hidden when not checked) */
.icon {
  display: none;
  margin: 1px auto;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark .icon {
  display: block;
}

.container input:disabled ~ .checkmark {
  background: var(--sidebar-background-tertiary);
  border-color: var(--sidebar-background-tertiary);
}

/* Hide the browser's default checkbox */
.container input {
  cursor: pointer;

  position: absolute;

  width: 0;
  height: 0;

  opacity: 0;
}

